.header {
  background-color: $color-primary;
  color: $color-white;

  &__inner-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
    @include media('<=tablet') {
      justify-content: center;
    }
  }

  &__logo {
    margin-right: 10px;
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__nav {

    &__list {
      display: flex;
      align-items: center;
      @include media('<=tablet') {
        margin-top: 10px;
      }
    }

    &__item {
      display: inline-block;
      margin-right: 30px;
      

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      font-size: 1rem;
      text-decoration: none;
      transition: all 0.3s ease;
      @include media('<tablet') {
        font-size: 0.9rem;
      }
      @include media('<=phone') {
        font-size: 0.7rem;
      }

      &:last-child {
        @include media('<=tablet') {
         line-height: 0.5;
        }
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

}
